/* CSS Style Sheet */
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

hr {
    color: blanchedalmond;
}
body {
    text-align: center;
}

img {
 cursor: pointer;
}
span {
    color: white;
}